<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://assetstoreblobfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/9108ed7b-2570-4865-b209-cff426bf8f66/resourcegroups/AssetStore_group/providers/Microsoft.Web/sites/AssetStoreBlobFunctions</ResourceId>
    <UserName>$AssetStoreBlobFunctions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://assetstoreblobfunctions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>